body {
    margin:10px auto;
    width:50%;
    background-color: crimson;
}

h1 {
    margin: 10px auto;
    width: 90%;
    font: 40px Comic Sans MS;
    color: darkturquoise;
}

p1 {
    margin: 10px auto;
    width: 90%;
    font: 30px Comic Sans MS;
    color: lawngreen;
}

p2 {
    margin: 10px auto;
    width: 90%;
    font: 30px Comic Sans MS;
    color: lawngreen;
}